<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: #fdfbf8;
  }



  .homepage {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("https://i.postimg.cc/t4tHpVRP/selena-gomez-tumblah.jpg");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
  }

  .homepage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  .homepage .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #f1 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .homepage .content .text {
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-left: 200px;
    padding-right: 200px;
   
  }

  .content a {
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }

  .content a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
  }

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
  }

  section h2 {
    font-size: 2rem;
  }

  section>p {
    text-align: center;
  }

  section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
  }

  section.about {
    margin: 0 auto;
    max-width: 1200px;
  }

  .about .company-info {
    margin-top: 30px;
  }

  .about h3 {
    margin: 30px 0 10px;
  }

  .about .team {
    text-align: left;
    width: 100%;
  }

  .about .team ul {
    padding-left: 20px;
  }

  section .cards .card {
    background: #fdf6f0;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
  }



  .services .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
  }



  .cards .card p {
    padding: 0 15px;
    margin-top: 5px;
  }


  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 20px 0;
  }



  footer div {
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  footer span {
    color: #fff;
  }

  footer a {
    padding: 0;
  }

  @media screen and (max-width: 860px) {
    .navbar .all-links {
      position: fixed;
      left: -100%;
      width: 300px;
      display: block;
      height: 100vh;
      top: 75px;
      background: #333;
      transition: left 0.3s ease;
    }

    .navbar #menu-toggler:checked~.all-links {
      left: 0;
    }

    .navbar .all-links li {
      font-size: 18px;
    }

    .navbar #hamburger-btn {
      display: block;
    }

    section>p {
      text-align: center;
    }

    section .cards .card {
      width: calc(100% / 2 - 15px);
      margin-bottom: 30px;
    }

    #f1 {
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 50px;
     
  
      
    }

    .homepage .content .text {
      font-size: 15px;
      margin-bottom: 20px;
     margin-right: 30px;
     padding-left: 30px;
    padding-right: 30px;
      
    }

    .content a {
      font-size: 17px;
      padding: 9px 20px;
    }

    .contact .row {
      flex-direction: column;
    }

    .contact .row .col {
      width: 100%;
    }

    .contact .row .col:last-child {
      margin-top: 40px;
    }

    footer a {
      height: 0;
    }
  }

  @media screen and (max-width: 560px) {
    section .cards .card {
      width: 100%;
      margin-bottom: 30px;
    }
  }
</style>




















<body>

  <section class="homepage" id="home">
    <div class="content">
      <div class="text">
        <p id="f1">What makes us Rare</p>
        <p>
          Together we’re building a safe, welcoming space in beauty and beyond. This is makeup made to feel good in,
          without hiding what makes you unique. And it’s all vegan and cruelty free.
        </p>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div>
        <h1>Shop by <br><span style="font-family: 'Yesteryear', cursive;font-size: 80px;">Category</span></h1>
      </div>
      <br><br>

      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">

          <div (click)="productCategory(1)" style="z-index: 1;" class="card">
            <img src="https://i.postimg.cc/cJmRXsC8/category-eye-desktop-540x.webp" class="card" alt="...">
            <div class="card-img-overlay">
              <button type="submit"
                style="border: none;color: #7f2549;font-family: 'Yesteryear', cursive;font-size: 70px;margin-left: 150px;margin-top: 398px;">Eye</button>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">

          <div (click)="productCategory(2)" class="card">
            <img src="https://i.postimg.cc/qvKQXV28/category-lips-desktop-540x.webp" class="card-img" alt="...">
            <div class="card-img-overlay">
              <button type="submit"
                style="border: none;color: #7f2549;font-family: 'Yesteryear', cursive;font-size: 70px;margin-left: 150px;margin-top: 398px;">Lip</button>

            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">

          <div (click)="productCategory(3)" class="card">
            <img src="https://i.postimg.cc/ZYgrfsbj/category-face-desktop-540x.webp" class="card-img" alt="...">
            <div class="card-img-overlay">
              <button type="submit"
                style="border: none;color: #7f2549;font-family: 'Yesteryear', cursive;font-size: 70px;margin-left: 150px;margin-top: 398px;">Face</button>


            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div (click)="productCategory('')" class="col-lg-12 col-md-12 col-sm-12 text-center">

          <button type="button"
            style="border: 1px solid #7f2549;font-size: 30px;color: #7f2549;width: 50%;font-weight: 500;"
            class="btn btn">Shop All</button>
        </div>
      </div>
    </div>
  </section>


  <!-- Section-->
  <section class="py-5">
    <div style="background-color:#fdf6f0;" class="px-4 px-lg-5 mt-5"><br><br>
      <div class="text-center">
        <h1>Shop Now</h1><br><br>
      </div>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div *ngFor="let i of productCategories | search:searchString:'productName' " class="col mb-5">
          <div style="border: none;background-color: #fdf6f0;" class="card h-100">
            <!-- Product image-->
            <img style="padding: 30px;" class="card-img-top" src={{i.image}} alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-medium">{{i.productName}}</h5>
                <!-- Product review-->
                <p style="font-size: 10px;letter-spacing: 0.3rem;" class="mt-2">{{i.review}}</p>
                <p style="font-size: 10px;letter-spacing: 0.3rem;" class="mt-2">Rs. {{i.price}}</p>

              </div>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a style="border: 1px solid #7f2549;color: #7f2549;padding: 10px;width: 100%;"
                class="btn btn mt-auto" href="products/view-product/{{i.id}}">View</a></div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
          <h1 class="mb-5" style="font-family: 'Gruppo', sans-serif;">@RareBeauty</h1>
          <img style="width: 100%;" src="https://i.postimg.cc/4drDvRS9/Shared-Screenshot.jpg" alt="">
        </div>
      </div>

    </div>


  </section>

</body>